h1
{ text-align:centre;
}

p#v
{
background-color:default;
}
p#g
{
background-color:green;
}
img{
size:50%;
}
.jj
{
margin-left:42%;
}
.aa
{
margin-left:45%;
}
.bb
{
margin-left:42%;
}
.cc
{
margin-left:45%;
}
.dd
{
margin-left:45%;
}
.ee
{
margin-left:42%;
}
.ex{
margin-left:10%;
}
.anchorStyle
{
color:"#000000";
}a{


color:#000000;
text-decoration: none;}

#wp{
margin-left:1%;
}
#gg{
margin-left:2%;
}
#hh{
margin-left:2%;
}
#ii{
margin-left:2%;
}
#kk{
margin-left:2%;
}
#ll{
margin-left:2%;
}
#colorstrip{
    width: 1500%; height: 2px;
    border-style: solid;
    border-color: black;
}
.zz
{
margin-left:90%;
}
.po
{
margin-left:90%;
margin-top:-6%;
}




